/* PALETA DE COLORES */

:root {
  --backgroundColor: #ae46f3;
  --backgroundColor1: #262ee4;
  --colorNegro: black;
  --colorBlanco: white;

}

/* GLOBALES  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Sans serif';
  color: var(--colorBlanco);
  /* background: var(--backgroundColor); */
  background-image: radial-gradient(ellipse farthest-corner at 45px 30px, var(--backgroundColor), var(--colorNegro));

}

main {
  height: 100vh;
}

img {
  width: 50%;
}

a {
  text-decoration: none;
  color: var(--colorBlanco);
}

h1,
h2,
h3 {
  text-align: center;
}

.boton:hover {
  cursor: pointer;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.icons {
  background: var(--colorBlanco);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
}

.icons:hover {
  transform: scale(1.3);
  background-color: var(--backgroundColor);
  color: var(--colorBlanco) !important;
}

.icons2 {
  background: var(--colorBlanco);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
}

.icons2:hover {
  transform: scale(1.3);
  background-color: var(--backgroundColor1);
  color: var(--colorBlanco) !important;
}

.bg_animate {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #005C98, #505BDA);
  /* position: relative; */
  /* overflow: hidden; */
}

/* TITLE */

.container {

  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* INFORMACION CONTACTO */
.container--infoContacto {

  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContacto__enlaces {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

/* MODAL */
/* DIRECTORIO */
.wrapper--directorio {
  background: var(--backgroundColor);
  border-radius: 10px;
  padding: 10px;
}

.overlay {
  position: fixed;
  background: rgb(0, 0, 0);
  opacity: 0.7;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 90vw;
  background-color: #000000;
  border-radius: 4px;
  padding: 1em;
  overflow: auto;
  border-radius: 9px;

}

.modal1 {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 45vh;
  width: 90vw;
  background-color: #000000;
  border-radius: 4px;
  padding: 1em;
  overflow: auto;
  border-radius: 9px;

}

.modal__titulo {
  color: white;
  text-align: center;
}

.redes--modal {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.boton {
  background-color: transparent;
  border-color: transparent;
  color: white;
  transition: 0.2;
  font-size: 17px;
}

.boton:hover {
  transform: scale(1.3);
}

.boton--modal {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  color: white;
  transition: 0.2;
  font-size: 18px;
}

.boton--modal:hover {
  transform: scale(1.3);
}

/* PORTAFOLIO */
.wrapper--portafolio {
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
  height: 222px;
  scroll-snap-type: x mandatory;
  scroll-padding: 25px;
  column-gap: 10px;
  margin-top: 20px;
}

.tarjeta--portafolio {
  display: block;
  padding: 50px;
  text-align: center;
  scroll-snap-align: start;
  border-radius: 50px;
  width: 200px;
  height: 196px;
  border-radius: 20%;
}

.tarjeta--portafolio h2 {
  margin-top: -40px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
}


a>p {
  text-transform: none;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

.tarjeta--portafolio:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(1):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta--portafolio:nth-child(2) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(2):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta--portafolio:nth-child(3) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(3):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta--portafolio:nth-child(4) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(4):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta--portafolio:nth-child(5) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(5):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta--portafolio:nth-child(6) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(6):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}
.tarjeta--portafolio:nth-child(7) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(7):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}
.tarjeta--portafolio:nth-child(8) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/1.jpeg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta--portafolio:nth-child(8):hover {
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

/* SERVICIOS */

.wrapper--servicios {
  background: var(--backgroundColor);
  border-radius: 10px;
  padding: 10px;
  margin-top: 51px;
  height: 60%;
}

.container--servicios {

  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 90%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  column-gap: 10px;
}

.tarjeta {
  padding: 20px;
  text-align: center;
  scroll-snap-align: start;
  border-radius: 50px;
  width: 740px;
  height: 80%;
  border-radius: 20%;
}

.tarjeta h2 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}


a>p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  width: 200px;
}

.tarjeta:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/vozenoff1.jpg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta:nth-child(1):hover {
  background-color: rgba(0, 0, 0, .3);
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta:nth-child(2) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/desarrollo.jpg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta:nth-child(2):hover {
  background-color: rgba(0, 0, 0, .3);
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}


.tarjeta:nth-child(3) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/promocionales1.jpg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta:nth-child(3):hover {
  background-color: rgba(0, 0, 0, .3);
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta:nth-child(4) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/promocionales1.jpg");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta:nth-child(4):hover {
  background-color: rgba(0, 0, 0, .3);
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta:nth-child(5) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/PensioneConsultoria.png");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta:nth-child(5):hover {
  background-color: rgba(0, 0, 0, .3);
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

.tarjeta:nth-child(6) {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/CesnaFluidPlatformScreenShot.png");
  background-position: center center;
  -webkit-filter: blur(2px);
  transition: 1s ease;
}

.tarjeta:nth-child(6):hover {
  background-color: rgba(0, 0, 0, .3);
  transition: 1s ease;
  -webkit-filter: blur(0px);
  cursor: pointer;

}

/* @media (max-width: 768px) {
  .tarjeta {
    -webkit-filter: blur(0px) !important;
  }
} */

/* TERMINA TARJETAS */

/* BURBUJAS */

.burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: .3;
  position: absolute;
  bottom: -150;
  animation: burbujas 3s linear infinite;
  z-index: -100;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}


@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }

  30% {
    transform: translateX(30px);
  }

  50% {
    opacity: .4;
  }

  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

/* MEDIA QUERIES  */
@media (max-width: 768px) {

  .tarjeta {
    -webkit-filter: blur(0px) !important;
  }
}